services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: teamcodebridge-web
    restart: always
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  socket:
    build:
      context: .
      dockerfile: Dockerfile.socket
    container_name: teamcodebridge-socket
    restart: always
    ports:
      - "4000:4000"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
