name: Deploy to Production

on:
  push:
    branches:
      - feat/mentor-workspace-next

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd /root/teamcodebridge
            # Ensure we are on the correct branch
            git fetch --all
            git checkout feat/mentor-workspace-next
            git reset --hard origin/feat/mentor-workspace-next
            
            # Rebuild and restart containers
            docker-compose down --rmi all
            docker system prune -f
            docker-compose up -d --build